@import url('https://fonts.googleapis.com/css2?family=Abel&family=Didact+Gothic&family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  /*padding-bottom: 100px;*/
}

.App {
  text-align: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  z-index: 0;
  min-height: 100vh;

}

@media (max-width: 1800px) {

  .sidebar-visible {
    height: 800px !important;
    width: 271px;
  }
  .wardrobe-visible {
    width: 40% !important;
  }
  .main-content {
    justify-content: space-between !important;
  }
}
@media (max-width: 1400px) {

  .sidebar-visible {
    height: 750px;
    width: 271px;
  }
  .barbie-model, .barbie-2-model, .barbie-3-model, .barbie-4-model, .murphy-model {
    width: 400px !important;
    height: 800px !important;
  }
}

@media (max-width: 1200px) {

  .sidebar-visible {
    height: 750px;
    width: 150px !important;
    padding-right: 0 !important;
  }

  .barbie-model {
    width: 400px !important;
    height: 800px;
    max-width: 400px !important;
  }

  .logo {
    width: 23px !important;
    padding: 0;
    margin-left: 70px !important;
    object-fit: cover;
  }

  .hat-text,.shoe-text,.outfit-text {
    display:none;
  }
  .hats, .outfits, .shoes {
    width: 80% !important;
  }

  .model-options {
    width: 105px !important;
    margin-bottom: 5px !important;
    margin-top: 10px !important;
  }

  .barbie-profile-text, .murphy-profile-text {
    display:none;
  }

  .barbie-model-selector, .murphy-model-selector {
    padding-left: 10px !important;
  }

  .download-btn {
    margin-left: -30px !important;
    margin-bottom: -70px !important;
  }

  .background-options {
    flex-direction: column !important;
    margin-top: 50px !important;
    margin-right: 10px !important;
  }

  .dev-profile {
    flex-direction: column !important;
    margin-top: 0 !important;
  }

  .dev-header {
    margin-left: 0 !important;
  }
}

.barbie-bg {
  background-image: url("./img/Barbie_bg.png");
}

.murphy-bg {
  background-image: url("./img/Oppen stage full 1.png");
}

.main-content {
  display:flex;
  height: 100vh;
  width:100%;
  z-index: 1;
  justify-content: space-evenly;
  min-height: 100vh;
}

/* Sidebar Content */

.sidebar-visible {
  background-color: #fff;
  height: 750px;
  width: 271px;
  /*height: 90%;*/
  /*width: 18%;*/
  border-radius: 10px;
  margin: 4rem;
  padding-right: 2rem;
  /*display: flex;*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display:block;
  transform: translateX(0);
}

.sidebar-hidden {
  transform: translateX(-300%);
  overflow-y: auto;
}

.logo {
  background-image: url("./img/logo.png");
  background-repeat: no-repeat;
  object-fit: cover;
  width: 195px;
  height: 58px;
  justify-content: center;
  padding: 10px;
  margin:20px;
}

/*outfit options*/

.outfit-options {
  height: 212px;
  width: 271px;
  margin: 10px 10px 10px 0;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hats, .outfits, .shoes {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.hats.active, .outfits.active, .shoes.active{
  border-left: 5px solid #E9609B !important;
  color: #E9609B;
}

button.hats, button.outfits, button.shoes {
  border: none;
  background-color: transparent;
}

button.hats:hover, button.outfits:hover, button.shoes:hover{
  border-left: 5px solid #FFD7EE;
}

.hat-icon, .outfit-icon, .shoe-icon {
  height: 50px !important;
  width: 50px !important;
  margin-left: -30px;
  margin-right: 25px;
}

.hat-text, .outfit-text, .shoe-text {
  font-family: 'Didact Gothic', sans-serif;
  color: #aaa ;
}

/*model options*/

.model-options {
  background-color: #F5EAEF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 230px;
  /*height: 183px !important;*/
}

button.barbie-model-selector, button.murphy-model-selector {
  padding-left: 20px;
  border: none;
  background-color: transparent;
}

.barbie-profile.active {
  border: 2px solid #E9609B;
}

.barbie-profile, .murphy-profile {
  height: 54px;
  width:54px;
  background-repeat: no-repeat;
  background-position:center;
  border-radius: 50%;
  margin: auto;
}

button.barbie-profile:hover, button.murphy-profile:hover {
  border: 2px solid #E9609B;
  width: 56px;
  height: 56px;
}


.barbie-profile {
  background-image: url("./img/barbie _icon_1.png");
  object-position: left center !important;
  height: 54px;
  width: 54px;

}

.murphy-profile {
  background-image: url("./img/murphy 2.png");
  object-position: center;
}

.barbie-profile-text, .murphy-profile-text {
  padding-left: 20px;
  font-family: 'Didact Gothic', sans-serif;
}

.barbie-header, .murphy-header {
  display: flex;
  justify-content: start;
}

.barbie-header-text, .murphy-header-text {
  font-size: xx-small;
  color: #adadad;
  display: flex;
  justify-content: start;
  text-align: start;
}

.download-btn {
  background-color: #E9609B;
  color: #ffffff;
  border:none;
  padding: 5px 20px;
  margin-left: 20px;
  margin-bottom: -40px;
  font-family: "Didact Gothic", sans-serif;
}

.download-btn.hover {
  background-color: #F5EAEF !important;
  color: #E9609B !important;
  border:2px solid #E9609B;
}

.bi.bi-download {
  color: #ffffff;
}

.download-btn:hover .bi.bi-download{
  color: #E9609B !important;
}

/*background options*/

.background-options {
  margin-top: 40px;
  margin-left: 13px;
  display: flex;
}

.barbie-btn, .murphy-btn {
  display: flex;
  background-color: #F5EAEF;
  margin: 5px;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  height: 40px;
  border:none;
}
.barbie-btn:hover, .murphy-btn:hover {
  border: 2px solid #E9609B;
}

.barbie-btn.active{
  border: 2px solid #E9609B;
}

.barbie-btn {
  padding: 15px 20px;
}

.barbie-btn:active {

}

.murphy-btn {
  padding: 15px 10px;
}

.barbie-icon, .murphy-icon {
  height: 25px;
  width: 20px;
  margin-right: 3px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position:center;
  align-items: center;
}

.barbie-btn-text {
  font-size: large;
  color: #E9609B;
  font-family: 'Abel', sans-serif;
}

.murphy-btn-text {
  font-size: x-small;
  color: #D2D2D2;
  font-family: "Montserrat", sans-serif;
}

/*dev highlight*/

.dev-profile {
  display: flex;
  padding-top: 10px;
  margin-top: 20px;
}
.dev-profile-icon {
  height: 54px;
  width: 54px;
  background-image: url("./img/barbie _icon_1.png");
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 2px solid #E9609B;
  margin: auto;
}

.dev-profile-text {
  font-family: "Didact Gothic", sans-serif;
  padding-left: 10px;
  margin-top: 15px;
}

.dev-header {
  font-size: large;
  font-weight: bold;
  margin-left: 10px;
}

.dev-header-text {
  color: #adadad;
  font-size: small;
}

/*model content*/

.barbie-model {
  background-image: url("./img/barbie_model_1.png");
  display:block;
  background-repeat: no-repeat;
  width: 469px;
  height: 815px;
  object-fit: cover;
  margin: 1rem 4rem 8rem 8rem;
  z-index: 1;
}

.barbie-2-model {
  background-image: url("./img/barbie dress model 1.png");
  display:block;
  background-repeat: no-repeat;
  width: 469px;
  height: 828px;
  object-fit: cover;
  margin: 1rem 4rem 8rem 8rem;
}

.barbie-3-model {
  background-position: center;
  background-image: url("./img/ outfit barbie dress model 4.png");
  display:block;
  background-repeat: no-repeat;
  width: 469px;
  height: 828px;
  background-size:contain;
  object-fit: scale-down !important;
  margin: 1rem 4rem 8rem 8rem;
}

.barbie-4-model {
  background-position: center;
  background-image: url("./img/ outfit barbie dress model.png");
  display:block;
  background-repeat: no-repeat;
  width: 469px;
  height: 828px;
  background-size:contain;
  object-fit: scale-down !important;
  margin: 1rem 4rem 8rem 8rem;
}

.murphy-model {
  background-image: url("./img/barbie dress model 1.png");
  display:block;
  background-repeat: no-repeat;
  width: 469px;
  height: 828px;
  object-fit: cover;
  margin: 1rem 4rem 8rem 8rem;
}

/*wardrobe content*/

.wardrobe-visible {
  /*transform: translateX(0);*/
  width: 40%;
  background-image: url("./img/wardrobe.png");
  background-repeat: no-repeat;
  object-fit: cover;
  z-index: 1;
  /*display:grid;*/
  padding: 8rem 0 0 13rem;
  display:grid;
}

.wardrobe-hidden {
  /*transform: translateX(100%);*/
  /*overflow-y: auto;*/
  display: none;
}

.clothes {
  /*position:absolute;*/
  z-index: 2;
  height: 400px !important;
  width: 200px !important;
  /*display:none;*/
}

img.dress, img.hat, .img.shoe {
  width:200px !important;
  height:300px !important;
}

.dress2, .shoe3 {
  width:200px !important;
  height:400px !important;
}

.hat1, .hat2, .shoe2, .shoe3 {
  width:200px !important;
  height:200px !important;
}

/*footer content*/
.footer {
  padding-top:20px;
  background-color: #0683FF;
  width:100%;
  height:122px;
  color: white;
  position: absolute;
  bottom: 0;
  top: 100%;
  min-height: 5vh;
  /*margin-top: 20px;*/
}

.footer-btn {
  margin-top: 10px;
  color: #0683FF;
  background-color: black;
  border-radius: 5px;
  border:none;
  padding: 0 5px 5px 5px;
}